# Simulator App Settings
INPUT_PARQUET_PATH=./data/flights.parquets
OUTPUT_TYPE=kafka
MAX_RECORDS=50
SPEEDUP_FACTOR=100000

# Connectivity
KAFKA_BROKERS=kafka.flight-analysis.local:9094
KAFKA_TOPIC=flights-stream
