.idea
/.vscode/settings.json

# Deployment
.env
data/grafana
data/influxdb
data/redis
keys

# Simulator
simulator.iml
simulator/go.sum
simulator/*.exe
simulator/data/*.gob

# Experiments
experiment/**/go.sum
experiment/**/*.exe
chaos.iml

# Processing
flink/target
flink/dependency-reduced-pom.xml

# LaTeX
Report/report.*
Report/out
Report/auxil
!Report/report.tex
!Report/report.pdf

Presentation/presentazione.*
Presentation/out
Presentation/auxil
!Presentation/presentazione.tex
!Presentation/presentazione.pdf

# Draw.io
*.drawio.bkp