.idea

# Deployment
.env
data/grafana
data/influxdb
data/redis
keys

# Simulator
simulator.iml
simulator/go.sum
simulator/*.exe

# Experiments
experiment/**/go.sum
experiment/**/*.exe
chaos.iml

# Processing
flink/target

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
/.vscode/settings.json
