# Network Ports
KAFKA_PORT=9094
FLINK_PORT=8081
INFLUXDB_PORT=8181
REDIS_PORT=6379
GRAFANA_PORT=3000

# Credentials
GRAFANA_USER=admin
GRAFANA_PASS=admin

INFLUXDB_USER=admin
INFLUXDB_PASS=admin
INFLUXDB_ORG=sabd.uniroma2.it
INFLUXDB_BUCKET=flights-data
INFLUXDB_TOKEN=admin-token